Insertion funcionando.s
Insertion
Insertion.o
pratica7
"pratica7 (c\303\263pia).s"
pratica7.o
pratica7.s
pratica7 (cópia).s
shell_sort
shell_sort.o
shell_sort_primeira_versao.s
calculadora.o
calculadora
comb_sort
comb_sort.o